
<!-- Swipe Instructions Start -->

<!--<div id="swipe-instruction">-->
<!--  <div>-->
<!--    <p><br><br><br></p>-->
<!--    <i id="hand-swipe" class="fa fa-hand-o-up"></i>-->
<!--    <p><strong>-->
<!--    {% if page.section-type == "blog" %}-->
<!--     你知道吗？你可以通过左右滑动浏览存档页面？-->
<!--    {% elsif page.section-type == "post" %}-->
<!--     你知道吗？你可以通过左右滑动浏览帖子？-->
<!--    {% endif %}-->
<!--    </strong></p>-->
<!--    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">-->
<!--      {% if page.section-type == "blog" %}-->
<!--        了解了!-->
<!--      {% elsif page.section-type == "post" %}-->
<!--        真好!-->
<!--      {% endif %}-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!-- Swipe Instructions End -->
